// Imports
@import "config";
@import "navbar";
@import "article";
@import "colors";
// Imports

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, 'Helvetica Neue', sans-serif !important;
  color: bb-color('text-dark', 'primary');
  background: bb-color("grey", "300");
}

html,
body {
  min-height: 100%;
  width: 100%;
}

.content {
  padding: 0;
  margin: 125px 10% 0 10%;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
