// Imports
@import "config";
@import "navbar";
@import "article";
@import "colors";
// Imports

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, 'Helvetica Neue', sans-serif !important;
  color: bb-color('text-dark', 'primary');
  background: bb-color("grey", "300");
}

html,
body {
  min-height: 100%;
  width: 100%;
  flex-direction: row;
  display: flex;
  overflow: hidden;
}

.content {
  padding: 0 1%;
  margin: 0 10% 0 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}
