@import "colors";
@import "config";

nav {
  display: block;
  position: absolute;
  padding: 0 10%;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  background: bb-color($primaryColor, "600");
  color: bb-color("text-light", "primary");

  .nav-wrapper {
    display: block;
    height: 100%;
    width: 100%;

    header {
      display: inline-flex;
      float: left;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      .brand {

        .logo {
          &:first-letter {
            font-size: 2em;
          }
          &:last
        }

        color: bb-color("text-light", "secondary");
        display: flex;
        font-size: 40px;
      }
    }

    .search {
      height: 100%;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      float: right;

      .search-wrapper {
        height: 40px;
        display: flex;

        input,
        button {
          height: 40px;
          margin: 0;
          border-radius: 0;
          border: 0;
        }

        button {
          cursor: pointer;
          color: bb-color("text-dark", "secondary");

          &:hover {
            background: bb-color("grey", "300");
            color: bb-color("text-dark", "secondary");
          }
        }
      }
    }
  }
}

.categories {
  display: block;
  position: absolute;
  padding: 0 10%;
  top: 75px;
  left: 0;
  right: 0;
  color: bb-color("text-light", "primary");

  .categories-wrapper {
    height: 20px;
    display: flex;
    overflow: auto;
    padding: 0 1.25%;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    li {
      display: inline-flex;
      margin-right: 2%;

      a {
        text-decoration: none;
        color: bb-color("text-dark", "secondary");

        &:hover {
          color: bb-color("text-dark", "primary");
        }
      }
    }
  }
}
