@import "colors";
@import "config";

nav {
  display: flex !important;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: bb-color($primaryColor, "600");
  color: bb-color("text-light", "primary");

  header {
    margin-top: 25px;
    width: 100%;
    display: flex;
    .brand {
      margin: auto;
      color: bb-color("text-light", "primary");
      font-size: 40px;
    }
  }

  .search {
    width: 100%;
    display: flex;

    .search-wrapper {
      height: 40px;
      display: flex;
      margin: auto;

      input,
      button {
        height: 40px;
        margin: 0;
        border-radius: 0;
        border: 0;
      }

      input {
        padding-left: 1em;
      }

      button {
        cursor: pointer;
        color: bb-color("text-dark", "secondary");

        &:hover {
          background: bb-color("grey", "300");
          color: bb-color("text-dark", "secondary");
        }
      }
    }
  }
}

.categories {
  display: block;
  padding: 0 10%;
  width: 100%;
  right: 0;
  left: 0;
  margin-top: 20px;
  color: bb-color("text-light", "primary");

  .categories-wrapper {

    overflow: hidden !important;
    font-size: 1.2em;
    height: 20px;
    display: flex;
    padding: 0 1.25%;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    li {
      display: inline-flex;
      margin-right: 10px;
      padding-right: 10px;
      text-transform: uppercase;

      border-right: 2px solid bb-color("icon-dark", "inactive");
      a {
        text-decoration: none;
        color: bb-color("text-dark", "secondary");

        &:hover {
          color: bb-color($primaryColor, "700");
        }
      }
      &:last-of-type {
        border-right: none;
      }
    }
  }
}
