nav {
  display: block;
  position: absolute;
  padding: 0 10%;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  background: #f4511e;
  color: white; }
  nav .nav-wrapper {
    display: block;
    height: 100%;
    width: 100%; }
    nav .nav-wrapper header {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      float: left;
      height: 100%; }
      nav .nav-wrapper header .brand {
        margin-left: 5px;
        color: rgba(255, 255, 255, 0.7);
        display: inline-block;
        font-size: 40px; }
    nav .nav-wrapper .search {
      height: 100%;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      float: right; }
      nav .nav-wrapper .search .search-wrapper {
        height: 40px;
        display: flex; }
        nav .nav-wrapper .search .search-wrapper input,
        nav .nav-wrapper .search .search-wrapper button {
          height: 40px;
          margin: 0;
          border-radius: 0;
          border: 0; }
        nav .nav-wrapper .search .search-wrapper input {
          padding-left: 1em; }
        nav .nav-wrapper .search .search-wrapper button {
          cursor: pointer;
          color: rgba(0, 0, 0, 0.54); }
          nav .nav-wrapper .search .search-wrapper button:hover {
            background: #e0e0e0;
            color: rgba(0, 0, 0, 0.54); }

.categories {
  display: block;
  position: absolute;
  padding: 0 10%;
  top: 75px;
  left: 0;
  right: 0;
  color: white; }
  .categories .categories-wrapper {
    height: 20px;
    display: flex;
    overflow: auto;
    padding: 0 1.25%;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .categories .categories-wrapper li {
      display: inline-flex;
      margin-right: 10px;
      padding-right: 10px;
      border-right: 2px solid rgba(0, 0, 0, 0.26); }
      .categories .categories-wrapper li a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.54); }
        .categories .categories-wrapper li a:hover {
          color: #e64a19; }
      .categories .categories-wrapper li:last-of-type {
        border-right: none; }

article {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
  margin: 10px 1%;
  display: block;
  background: #f5f5f5;
  width: 22.5%;
  padding: 10px;
  height: 275px;
  position: relative;
  cursor: pointer; }
  article.large {
    width: 47%; }
  article:hover {
    background: #eeeeee; }
  article header .title {
    padding: 0;
    margin: 0; }
  article section {
    color: rgba(0, 0, 0, 0.54); }
  article.hasImage {
    background-position: center;
    background-size: cover;
    padding: 0;
    transition: visibility 1s ease; }
    article.hasImage header,
    article.hasImage section {
      position: absolute;
      background: rgba(33, 33, 33, 0.8);
      color: white; }
    article.hasImage section {
      visibility: hidden; }
    article.hasImage:hover section {
      visibility: visible; }
    article.hasImage header {
      top: 15px;
      left: 15px;
      padding: 1%; }
    article.hasImage section {
      padding: 1%;
      bottom: 0; }

* {
  box-sizing: border-box; }

html {
  font-family: Roboto, 'Helvetica Neue', sans-serif !important;
  color: rgba(0, 0, 0, 0.87);
  background: #e0e0e0; }

html,
body {
  min-height: 100%;
  width: 100%; }

.content {
  padding: 0 1%;
  margin: 125px 10% 0 10%;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%; }

/*# sourceMappingURL=main.css.map */
