.bb-display-4 {
  font-size: 112px;
  font-weight: 300;
  letter-spacing: -5 px;
  line-height: 128px; }

.bb-display-3 {
  font-size: 56px;
  font-weight: 400;
  line-height: 64px; }

.bb-display-2 {
  font-size: 45px;
  font-weight: 400;
  line-height: 64px; }

.bb-display-1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 52px; }

.bb-h1 .bb-small,
.bb-h1 small,
h1 .bb-small,
h1 small {
  font-weight: 400;
  font-size: 0.65em;
  line-height: 1;
  color: rgba(0, 0, 0, 0.54); }

.bb-h2 .bb-small,
.bb-h2 small,
h2 .bb-small,
h2 small {
  font-weight: 400;
  font-size: 0.65em;
  line-height: 1;
  color: rgba(0, 0, 0, 0.54); }

.bb-h3 .bb-small,
.bb-h3 small,
h3 .bb-small,
h3 small {
  font-weight: 400;
  font-size: 0.65em;
  line-height: 1;
  color: rgba(0, 0, 0, 0.54); }

.bb-h4 .bb-small,
.bb-h4 small,
h4 .bb-small,
h4 small {
  font-weight: 400;
  font-size: 0.65em;
  line-height: 1;
  color: rgba(0, 0, 0, 0.54); }

.bb-h5 .bb-small,
.bb-h5 small,
h5 .bb-small,
h5 small {
  font-weight: 400;
  font-size: 0.65em;
  line-height: 1;
  color: rgba(0, 0, 0, 0.54); }

.bb-display-1 .bb-small,
.bb-display-1 small {
  font-weight: 400;
  font-size: 0.65em;
  line-height: 1;
  color: rgba(0, 0, 0, 0.54); }

.bb-display-2 .bb-small,
.bb-display-2 small {
  font-weight: 400;
  font-size: 0.65em;
  line-height: 1;
  color: rgba(0, 0, 0, 0.54); }

.bb-display-3 .bb-small,
.bb-display-3 small {
  font-weight: 400;
  font-size: 0.65em;
  line-height: 1;
  color: rgba(0, 0, 0, 0.54); }

.bb-h1 .bb-text-light-primary .bb-small,
.bb-h1 .bb-text-light-primary small,
h1 .bb-text-light-primary .bb-small,
h1 .bb-text-light-primary small {
  font-weight: 400;
  font-size: 0.65em;
  line-height: 1;
  color: rgba(255, 255, 255, 0.7); }

.bb-h2 .bb-text-light-primary .bb-small,
.bb-h2 .bb-text-light-primary small,
h2 .bb-text-light-primary .bb-small,
h2 .bb-text-light-primary small {
  font-weight: 400;
  font-size: 0.65em;
  line-height: 1;
  color: rgba(255, 255, 255, 0.7); }

.bb-h3 .bb-text-light-primary .bb-small,
.bb-h3 .bb-text-light-primary small,
h3 .bb-text-light-primary .bb-small,
h3 .bb-text-light-primary small {
  font-weight: 400;
  font-size: 0.65em;
  line-height: 1;
  color: rgba(255, 255, 255, 0.7); }

.bb-h4 .bb-text-light-primary .bb-small,
.bb-h4 .bb-text-light-primary small,
h4 .bb-text-light-primary .bb-small,
h4 .bb-text-light-primary small {
  font-weight: 400;
  font-size: 0.65em;
  line-height: 1;
  color: rgba(255, 255, 255, 0.7); }

.bb-h5 .bb-text-light-primary .bb-small,
.bb-h5 .bb-text-light-primary small,
h5 .bb-text-light-primary .bb-small,
h5 .bb-text-light-primary small {
  font-weight: 400;
  font-size: 0.65em;
  line-height: 1;
  color: rgba(255, 255, 255, 0.7); }

.bb-display-1 .bb-text-light-primary .bb-small,
.bb-display-1 .bb-text-light-primary small {
  font-weight: 400;
  font-size: 0.65em;
  line-height: 1;
  color: rgba(255, 255, 255, 0.7); }

.bb-display-2 .bb-text-light-primary .bb-small,
.bb-display-2 .bb-text-light-primary small {
  font-weight: 400;
  font-size: 0.65em;
  line-height: 1;
  color: rgba(255, 255, 255, 0.7); }

.bb-display-3 .bb-text-light-primary .bb-small,
.bb-display-3 .bb-text-light-primary small {
  font-weight: 400;
  font-size: 0.65em;
  line-height: 1;
  color: rgba(255, 255, 255, 0.7); }

.bb-headline {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px; }

.bb-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em; }

.bb-subhead {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 24px; }

.bb-h1,
h1 {
  font-size: 36px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-bottom: 10px;
  margin-top: 10px; }

.bb-h2,
h2 {
  font-size: 30px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-bottom: 10px;
  margin-top: 10px; }

.bb-h3,
h3 {
  font-size: 24px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-bottom: 10px;
  margin-top: 10px; }

.bb-h4,
h4 {
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-bottom: 10px;
  margin-top: 10px; }

.bb-h5,
h5 {
  font-size: 14px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-bottom: 10px;
  margin-top: 10px; }

.bb-h6,
h6 {
  font-size: 12px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-bottom: 10px;
  margin-top: 10px; }

.bb-body-1 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 20px; }

.bb-body-2 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.010em;
  line-height: 24px; }

.bb-caption {
  font-size: 12px;
  letter-spacing: 0.020em; }

a {
  text-decoration: none;
  color: inherit; }

.bb-text-light,
.bb-text-light-primary {
  color: white; }

.bb-text-light-secondary {
  color: rgba(255, 255, 255, 0.7); }

.bb-text-light-hint {
  color: rgba(255, 255, 255, 0.3); }

.bb-icon-light-active {
  color: white; }

.bb-icon-light-inactive {
  color: rgba(255, 255, 255, 0.3); }

.bb-text-dark,
.bb-text-dark-primary {
  color: rgba(0, 0, 0, 0.87); }

.bb-text-dark-secondary {
  color: rgba(0, 0, 0, 0.54); }

.bb-text-dark-hint {
  color: rgba(0, 0, 0, 0.38); }

.bb-icon-dark-active {
  color: rgba(0, 0, 0, 0.54); }

.bb-icon-dark-inactive {
  color: rgba(0, 0, 0, 0.26); }

/*# sourceMappingURL=typography.css.map */
