extends layout

block content

  include navbar

  .content

    article
      header
        h3 Goverment something
      section.
        Government officials said classifying transgender people as mentally ill was “stigmatising” and they had “run out of patience” with the World Health Organisation’s (WHO) work on the definition.
    article
      header
        h3 Goverment something
      section.
        Government officials said classifying transgender people as mentally ill was “stigmatising” and they had “run out of patience” with the World Health Organisation’s (WHO) work on the definition.


    article
      header
        h3 Goverment something
      section.
        Government officials said classifying transgender people as mentally ill was “stigmatising” and they had “run out of patience” with the World Health Organisation’s (WHO) work on the definition.




