extends layout

block content

  include navbar

  .content


    article.large.hasImage(style="background:url('http://cdn.newsapi.com.au/image/v1/beb6afde321b487f425d54fd3ad061c9')")
      header
        h2.title Goverment something
      section.
        Government officials said classifying transgender people as mentally ill was “stigmatising” and they had “run out of patience” with the World Health Organisation’s (WHO) work on the definition.

    article
      header
        h2.title Goverment something
      section.
        Government officials said classifying transgender people as mentally ill was “stigmatising” and they had “run out of patience” with the World Health Organisation’s (WHO) work on the definition.

    article
      header
        h2.title Goverment something
      section.
        Government officials said classifying transgender people as mentally ill was “stigmatising” and they had “run out of patience” with the World Health Organisation’s (WHO) work on the definition.

    article
      header
        h2.title Goverment something
      section.
        Government officials said classifying transgender people as mentally ill was “stigmatising” and they had “run out of patience” with the World Health Organisation’s (WHO) work on the definition.

    article
      header
        h2.title Goverment something
      section.
        Government officials said classifying transgender people as mentally ill was “stigmatising” and they had “run out of patience” with the World Health Organisation’s (WHO) work on the definition.

    article
      header
        h2.title Goverment something
      section.
        Government officials said classifying transgender people as mentally ill was “stigmatising” and they had “run out of patience” with the World Health Organisation’s (WHO) work on the definition.

    article
      header
        h2.title Goverment something
      section.
        Government officials said classifying transgender people as mentally ill was “stigmatising” and they had “run out of patience” with the World Health Organisation’s (WHO) work on the definition.
