doctype html
html(lang='en')
  head
    title= "Citizen Reporter"
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='meh' )
    block css
      link(rel='stylesheet' href='/css/main.css')
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
      link(rel="styleSheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css")
  block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body(ng-app="mainApp")

      block content

    include scripts
