nav
  .nav-wrapper

    // Title
    header
      a.brand.
        Citizen Reporter

    // Search
    form.search
      .search-wrapper
        input(placeholder="Type something")
        button(type="submit") Search

.categories
  ul.categories-wrapper
    li
      a(href="#") Science
    li
      a(href="#") Sport
    li
      a(href="#") Art
    li
      a(href="#") Movies
    li
      a(href="#") Games
