nav
  .nav-wrapper

    // Title
    header
      a.brand.
        Citizen Reporter

    // Search
    form.search
      .search-wrapper
        input(placeholder="Type something")
        button(type="submit") Search
